<div class="modal-header">
  <h4 class="modal-title">Completa la informacion de tu perfil</h4>
  <div *ngIf="tokenDatos < 5">
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')" (click)="actualizarToken()"></button>
</div>
</div>
<div class="modal-body">
  <form (ngSubmit)="enviarDatos()"  #usuarioForm="ngForm">
    <div class="form-group">
      <label for="nombre">Direccion:</label>
      <input type="text" [(ngModel)]="datos.direccion"
        name="nombre" #nombre="ngModel" required>
    </div>
    <div class="form-group">
      <label for="email">Localidad:</label>
      <input type="text" [(ngModel)]="datos.localidad"
        name="email" #nombre="ngModel" required>
    </div>
    <div class="form-group">
      <label for="contrasegna">CP:</label>
      <input type="password" [(ngModel)]="datos.cp"
        name="contrasegna" #contrasegna="ngModel" required minlength="4">
    </div>
    <button type="submit">Entrar</button>
  </form>
</div>
<div class="modal-footer">
  <button (click)="verToken()">Ver token</button>
  <div *ngIf="tokenDatos < 5; else mensaje">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" (click)="actualizarToken()">Close</button>
</div>
<ng-template #mensaje>
  <p>Deberas rellenar los datos para poder continuar</p>
</ng-template>
</div>
