<div id="contenedor" class="form">
  <form (ngSubmit)="registro()" #usuarioForm="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" [(ngModel)]="usuario.nombre"
        name="nombre" #nombre="ngModel" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" [(ngModel)]="usuario.email"
        name="email" #nombre="ngModel" required>
    </div>
    <div class="form-group">
      <label for="contrasegna">Contraseña:</label>
      <input type="password" [(ngModel)]="usuario.password"
        name="contrasegna" #contrasegna="ngModel" required minlength="4">
    </div>
    <button type="submit">Entrar</button>
  </form>
</div>
